<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		
		<style th:fragment="style">
			.app-container{
				width: 75vh;
				margin-top: 100px;
				margin-bottom: 100px;
				justify-content: center;
				align-items: center;
			}
	
			.main-text{
				width: 500px;
				height: 200px;
			}
		</style>
		
		<header th:fragment="header">
			<div class="container-fluid p-0">
				<div class="row">
					<div class="col-12 text-center border-bottom border-black py-4">
						<h1>Pizza</h1>
					</div>
				</div>
			</div>
		</header>
		
		<div 
			th:fragment="homebutton(title)"
			class="col-12 text-center mt-5"
			>
			<a href="/" th:text="${title}" class="btn btn-sm btn-primary border border-black mx-2 px-4"></a>
		</div>
		
	</body>
</html>