<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<!-- Bootstrap CSS -->
 		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		<title>spring-la-mia-pizzeria-crud</title>
	</head>
	<style th:replace="frags :: style"></style>
	<body>
		<div class="container-fluid app-container border rounded-5 shadow">
			<header th:replace="frags :: header"></header>
			<main>
				<div class="container-fluid">
					<div class="row justify-content-center p-5">
						<form>
							<div class="input-group mb-3">
							  <!-- <input type="text" class="form-control" placeholder="" name="" th:value=""> -->
							</div>
						</form>
					</div>
				</div>
			</main>
		</div>
		<!-- Bootstrap Bundle with Popper -->
 		<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>