<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<!-- Bootstrap CSS -->
 		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		<title>spring-la-mia-pizzeria-crud</title>
	</head>
	<style th:replace="frags :: style"></style>
	<body>
		<div class="container-fluid app-container border border-black">
			<header th:replace="frags :: header"></header>
			<main>
				<div class="container-fluid">
					<div class="row p-5">
						<a class="col-12 border border-black text-decoration-none text-black text-center fs-5 my-3 py-3" th:each="pizza : ${pizzas}" th:href="@{/pizzas/{pizzaId} (pizzaId=${pizza.getId()})}">
							<span th:text="${pizza.getNome()}"></span>
						</a>
						<!-- <div th:replace="frags :: homebutton('Home')"></div> -->
					</div>
				</div>
			</main>
		</div>
		<!-- Bootstrap Bundle with Popper -->
 		<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>